In [45]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [46]:
df = pd.read_csv('Annual_Parking_Study_Data.csv')
df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Elmntkey,Study_Area,Sub_Area,Date Time,Side,Unitdesc,Peak Hour_SDOT,Parking_Spaces,Total_Vehicle_Count,Dp_Count,...,Idling,Field Notes,Construction,Event Closure,Subarea Label,Study Year,Peak Hour? (Yes or No),RPZ Blocks,CSM,Time Stamp
0,77982.0,South Lake Union,North,9/27/2017 20:00,E,DEXTER AVE N BETWEEN VALLEY ST AND ALOHA ST,NaN,2.0,3.0,NaN,...,NaN,NaN,No,No,South Lake Union (North Subarea),2017.0,No,0.0,Y,09/27/2017 08:38:00 PM
1,35881.0,South Lake Union,North,9/27/2017 20:00,N,VALLEY ST BETWEEN DEXTER AVE N AND 8TH AVE N,NaN,15.0,12.0,1.0,...,NaN,NaN,No,No,South Lake Union (North Subarea),2017.0,No,0.0,Y,09/27/2017 08:36:00 PM
2,8405.0,South Lake Union,North,9/27/2017 20:00,W,8TH AVE N BETWEEN VALLEY ST AND ALOHA ST,NaN,7.0,4.0,NaN,...,NaN,NaN,No,No,South Lake Union (North Subarea),2017.0,No,0.0,Y,09/27/2017 08:36:00 PM
3,8406.0,South Lake Union,North,9/27/2017 20:00,E,8TH AVE N BETWEEN VALLEY ST AND ALOHA ST,NaN,10.0,5.0,NaN,...,NaN,NaN,No,No,South Lake Union (North Subarea),2017.0,No,0.0,Y,09/27/2017 08:36:00 PM
4,8625.0,South Lake Union,North,9/27/2017 20:00,W,9TH AVE N BETWEEN BROAD E ST AND WESTLAKE AVE N,NaN,0.0,0.0,NaN,...,NaN,NaN,No,No,South Lake Union (North Subarea),2017.0,No,0.0,Y,09/27/2017 08:32:00 PM

In [47]:
df.columns

Index(['Elmntkey', 'Study_Area', 'Sub_Area', 'Date Time', 'Side', 'Unitdesc',
       'Peak Hour_SDOT', 'Parking_Spaces', 'Total_Vehicle_Count', 'Dp_Count',
       'Rpz_Count', 'TG_Car2Go', 'BMW_DN', 'Lime', 'Idling', 'Field Notes',
       'Construction', 'Event Closure', 'Subarea Label', 'Study Year',
       'Peak Hour? (Yes or No)', 'RPZ Blocks', 'CSM', 'Time Stamp'],
      dtype='object')

In [48]:
df1 = df.drop(['Elmntkey', 'Unitdesc','Peak Hour_SDOT', 'Total_Vehicle_Count', 'Dp_Count', 'Rpz_Count', 'TG_Car2Go', 'BMW_DN', 'Lime', 'Idling', 'Field Notes',
       'Construction', 'Event Closure', 'Subarea Label', 'Study Year', 'Peak Hour? (Yes or No)', 'RPZ Blocks', 'CSM',], axis='columns')
df1.head()

,Study_Area,Sub_Area,Date Time,Side,Parking_Spaces,Time Stamp
0,South Lake Union,North,9/27/2017 20:00,E,2.0,09/27/2017 08:38:00 PM
1,South Lake Union,North,9/27/2017 20:00,N,15.0,09/27/2017 08:36:00 PM
2,South Lake Union,North,9/27/2017 20:00,W,7.0,09/27/2017 08:36:00 PM
3,South Lake Union,North,9/27/2017 20:00,E,10.0,09/27/2017 08:36:00 PM
4,South Lake Union,North,9/27/2017 20:00,W,0.0,09/27/2017 08:32:00 PM

In [49]:
df1.dtypes

Study_Area         object
Sub_Area           object
Date Time          object
Side               object
Parking_Spaces    float64
Time Stamp         object
dtype: object

In [103]:
df2 = df1.drop(['Time Stamp', 'Parking_Spaces'], axis='columns')
df2.head()

         Study_Area Sub_Area        Date Time Side
0  South Lake Union    North  9/27/2017 20:00    E
1  South Lake Union    North  9/27/2017 20:00    N
2  South Lake Union    North  9/27/2017 20:00    W
3  South Lake Union    North  9/27/2017 20:00    E
4  South Lake Union    North  9/27/2017 20:00    W

In [104]:
df2.rename(columns = {'Date Time' : 'Date_Time'}, inplace = True)
df2.head()

         Study_Area Sub_Area        Date_Time Side
0  South Lake Union    North  9/27/2017 20:00    E
1  South Lake Union    North  9/27/2017 20:00    N
2  South Lake Union    North  9/27/2017 20:00    W
3  South Lake Union    North  9/27/2017 20:00    E
4  South Lake Union    North  9/27/2017 20:00    W

In [105]:
df2.shape

(167799, 4)

In [106]:
df2.Study_Area.unique()

array(['South Lake Union', '12th Avenue', 'SODO', 'Ballard Locks',
       'Ballard Locks Summer', 'Ballard Locks summer', 'Pioneer Square',
       'Cherry Hill', 'Uptown', 'First Hill', 'Commercial Core - Retail',
       'Commercial Core - Waterfront', 'Commercial Core - Financial',
       'Fremont', 'Uptown Triangle', 'Green Lake', 'Capitol Hill',
       'Westlake', 'Pike-Pine', 'Commercial Core Retail',
       'Commercial Core Financial', 'Commercial Core Waterfront',
       'Commercial Core', 'Belltown', 'University District', 'Ballard',
       'Roosevelt', 'Chinatown/ID', 'Ballard Locks Spring',
       'Pioneer Square 2017', 'Denny Triangle',
       '12th Ave 2017 Annual Study', 'Chinatown ID 2017',
       'Ballard Locks Spring 2017', 'Denny Triangle South - 2017',
       'Denny Triangle North - 2017', 'Greenlake', 'Denny Triangle South',
       'Denny Triangle North', '12th Ave - Weekday', 'Ballard - Weekday',
       'First Hill - Weekday', 'Ballard Locks - Weekday (Spring)',
       'Belltown - Weekday', 'Ballard Locks - Weekday (Summer)',
       'Capitol Hill - Weekday', 'Chinatown/ID - Event',
       'Cherry Hill - Weekday', 'Chinatown/ID - Sunday',
       'Denny Triangle - Weekday', 'Chinatown/ID - Weekday',
       'Commercial Core - Event Day', 'Commercial Core - Weekday',
       'Fremont - Weekday', 'Little Saigon - Weekday',
       'Green Lake - Weekday', 'Little Saigon - Sunday',
       'Pike-Pine - Weekday', 'Uptown Triangle - Weekday',
       'Pioneer Square - Event Day', 'Uptown - Weekday',
       'Pioneer Square - Weekday', 'Roosevelt - Weekday',
       'Pioneer Square - Sunday', 'South Lake Union - Weekday',
       'University District - Weekday', 'Westlake - Weekday',
       'Columbia City', '15th Avenue', 'Dexter', nan, 'Lake City',
       'Uptown - Sunday', 'West Seattle', 'Commercial Core Saturday',
       '12th Ave'], dtype=object)

In [107]:
df2.Sub_Area.unique()

array(['North', 'Unpaid', nan, 'PAID', 'Edge', 'Core', 'South', 'Retail',
       'Waterfront', 'Financial', 'Paid', 'RPZ', 'Non-RPZ', 'ERROR: #N/A',
       'UNPAID', 'Periphery', '2 Hour', '10 Hour', 'NorthWest', '2', '10',
       '0', '4 Hour', 'Edge Unpaid', 'South 10 hr', 'South 2 hr'],
      dtype=object)

In [108]:
df2.Side.unique()

array(['E', 'N', 'W', 'SW', 'S', 'SE', 'NW', 'NE', nan], dtype=object)

In [109]:
df2.Date_Time.unique()

array(['9/27/2017 20:00', '9/27/2017 19:00', '9/27/2017 18:00', ...,
       '7/16/2019 18:00', '7/16/2019 19:00', '7/16/2019 20:00'],
      dtype=object)

In [110]:
df2.isnull().any()

Study_Area     True
Sub_Area       True
Date_Time     False
Side           True
dtype: bool

In [111]:
df2.isnull().sum()

Study_Area       26
Sub_Area      13180
Date_Time         0
Side             39
dtype: int64

In [112]:
df2.Date_Time.unique()

array(['9/27/2017 20:00', '9/27/2017 19:00', '9/27/2017 18:00', ...,
       '7/16/2019 18:00', '7/16/2019 19:00', '7/16/2019 20:00'],
      dtype=object)

In [113]:
df3 = df1.drop(['Study_Area', 'Date Time', 'Sub_Area', 'Side', 'Time Stamp'], axis='columns')
df3.head().astype(int)

   Parking_Spaces
0               2
1              15
2               7
3              10
4               0

In [114]:
df3.Parking_Spaces.unique()

array([  2.,  15.,   7.,  10.,   0.,   9.,  25.,  14.,  12.,   6.,   4.,
        11.,   5.,   8.,  19.,  28.,  27.,  23.,  16.,   3.,  13.,  20.,
        40.,  44.,  34.,  31.,  45.,  42.,  21.,  70.,  17.,  81.,   1.,
        18.,  26.,  59.,  22.,  29.,  33.,  24.,  54.,  36., 120.,  53.,
        30.,  41.,  37.,  39.,  49.,  32.,  38.,  nan,  35.,  47.,  50.,
        52.,  65., 112.,  94.,  48.,  91.,  56.])

In [115]:
df3.isnull().any()

Parking_Spaces    True
dtype: bool

In [116]:
df3.isnull().sum()

Parking_Spaces    298
dtype: int64

In [125]:
# study_area_l = LabelEncoder()
# sub_area_l = LabelEncoder()
# side_l = LabelEncoder()
date_time_l = LabelEncoder()

In [127]:
# df2['study_area'] = study_area_l.fit_transform(df2['Study_Area'])
# df2['sub_area'] = sub_area_l.fit_transform(df2['Sub_Area'])
# df2['side'] = side_l.fit_transform(df2['Side'])
df2['date_time'] = date_time_l.fit_transform(df2['Date_Time'])
df2.head()

         Study_Area Sub_Area        Date_Time Side  date_time
0  South Lake Union    North  9/27/2017 20:00    E       1796
1  South Lake Union    North  9/27/2017 20:00    N       1796
2  South Lake Union    North  9/27/2017 20:00    W       1796
3  South Lake Union    North  9/27/2017 20:00    E       1796
4  South Lake Union    North  9/27/2017 20:00    W       1796

In [128]:
df2.describe()

           date_time
count  167799.000000
mean      843.714134
std       498.752954
min         0.000000
25%       373.000000
50%       824.000000
75%      1262.000000
max      1798.000000